body{
    height: 100vh;
    margin: 0;
    background-color: lightblue;
}
.time{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 300px;
    font-family: fantasy;
    padding-top: 150px;

}
.hours{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 500px;
    height: 500px;
    background-color: cadetblue;
    /*animation: flipInX;*/
    /*animation-delay:3599s;*/
    /*animation-duration: 1s;*/
    /*animation-direction:3600s;*/
}
.minutes{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 500px;
    height: 500px;
    background-color: darkslategray;
    animation: flipInX;
    animation-delay:59s;
    animation-duration: 1s;
    /*animation-direction:60s;*/
    /*animation-iteration-count:*/
}
.seconds{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 500px;
    height: 500px;
    background-color: cornflowerblue;
    /*animation: flipInX;*/
    animation: flipOutY;
    /*animation: slideInDown;*/
    opacity: 0.3;
    animation-duration: 1s;
    animation-iteration-count:infinite;
}
.settings{
    display: flex;
    justify-content: center;
}
.setTime{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    color: cadetblue;
    min-width: 150px;
    min-height: 50px;
    background-color: darkslategray;
    border-radius: 8px;
}
.buttonCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border-radius: 6px;
    min-width: 100px ;
    min-height: 25px;
}